@font-face
    font-family: "Muller"
    src: url("../fonts/Fontfabric - MullerRegular.otf")
@font-face
    font-family: "MullerBold"
    src: url("../fonts/Fontfabric - MullerBold.otf")
@font-face
    font-family: "MullerMedium"
    src: url("../fonts/Fontfabric - MullerMedium.otf")
@font-face
    font-family: "MullerExtraBold"
    src: url("../fonts/Fontfabric - MullerExtraBold.otf")
@font-face
    font-family: "MullerLight"
    src: url("../fonts/Fontfabric - MullerLight.otf")
