@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  header
    background-image: url("../img/header-mobile-bg.png")
    background-size: 100% 83%
    padding-bottom: 0
    padding-top: 10px
    .green1
      left: 9.3%
      bottom: 45%
    .green2
      left: 38.5%
      bottom: 38%
    .green3
      left: 73%
      bottom: 41%
    .apps
      img
        width: 150px
        margin: 0 13px
    .logo
      width: 80px
    .mobile-header
      transform: unset
    h1
      font-size: 12px
      line-height: 16px
      margin-top: 50px
    p
      font-size: 10px
      line-height: 13px
    h2
      font-size: 16px
      color: #4C869D
      line-height: 21px
      text-align: center
      margin-top: 35px
      margin-bottom: 28px
      width: 150%
      transform: translateX(30px)
  .boxes
    padding-bottom: 25px
    .box
      width: 70%
      margin: 20px auto
  .task
    padding: 48px 0 20px 0
    .triangle-top
      width: 40%
    .task-mobile
      width: 50%
      margin: 0 auto 30px 0
    p
      font-size: 14px
      line-height: 18px
      margin-left: 17px
      margin-right: 20px
  .overview
    padding: 19px 0 25px 0
  .contact
    padding: 25px 0
    .title
      font-size: 16px
      line-height: 21px
    form
      margin: 20px 0 0
      input
        width: 80%
        margin-bottom: 20px
      button
        margin-top: 0
        font-size: 16px
        line-height: 21px
  .performance
    padding: 17px 0 25px 0
    background-size: cover
    h3
      font-size: 16px
      line-height: 21px
      margin-top: 102px
    p
      font-size: 12px
      line-height: 16px
      margin-top: 13px
  footer
    padding: 25px 0 28px 0
    h4, h5
      font-size: 16px
      line-height: 21px
    p, a
      font-size: 12px
      line-height: 16px


// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
