@import "vars"
@import "fonts"
@import "libs"

html, body
    overflow-x: hidden
header
    padding: 34px 0 42px
    background-image: url("../img/header-bg.png")
    background-repeat: no-repeat
    background-size: 100% 90%
    background-position-y: -10%
    position: relative
    .green1
        position: absolute
        left: 11.25%
        bottom: 42.5%
    .green2
        position: absolute
        left: 26.8%
        bottom: 38%
    .green3
        position: absolute
        left: 43.9%
        bottom: 46%
    .mobile-header
        transform: translateX(100px)
    h1
        margin-top: 98px
        margin-bottom: 16px
        font-family: "PT Sans"
        font-weight: bold
        font-size: 24px
        line-height: 31px
        color: white
    p
        margin: 16px 0 80px 0
        color: white
        line-height: 21px
        font-size: 16px
        font-family: "PT Sans"
    h2
        margin-top: 184px
        margin-bottom: 42px
        font-family: "PT Serif"
        font-size: 40px
        line-height: 53px
        letter-spacing: 0.07em
        color: #707070
.boxes
    padding-bottom: 60px
    .box
        background: #EBEBEB
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        text-align: center
        width: 23%
        padding: 25px 34px 18px 29px
        .box-title
            color: #4C7C8C
            font-family: "PT Sans"
            font-weight: bold
            line-height: 21px
            font-size: 16px
            margin: 8px 0
        .box-body
            font-size: 14px
            line-height: 18px
            font-family: "PT Sans"
            color: #707070
.task
    padding: 77px 0
    position: relative
    background: #E7E7E7
    .triangle-top
        position: absolute
        top: 0
        left: 0
    .triangle-bottom
        position: absolute
        bottom: 0
        right: 0
    p
        margin-left: 32px
        font-family: "PT Sans"
        font-weight: bold
        font-size: 20px
        line-height: 26px
        color: #4C7C8C

//Pulsing DOTS
$green: #ffff
$green-outer: #356677
// animations
@mixin keyframes($name, $max-size)
    @keyframes pulse-#{$name}
        0%
            opacity: .75
            transform: scale(1)
        25%
            opacity: 0.75
            transform: scale(1)
        100%
            opacity: 0
            transform: scale($max-size)
@include keyframes('2-5', 2.5)
.dot
    border-radius: 50%
    height: 12px
    width: 12px
    > span
        animation: pulse-2-5 1s linear infinite
        border-radius: 50%
        display: block
        height: 12px
        width: 12px
        > span
            animation: pulse-2-5 1s linear infinite
            border-radius: 50%
            display: block
            height: 12px
            width: 12px
            &:after
                animation: pulse-2-5 1s linear infinite
                border-radius: 50%
                content: ''
                display: block
                height: 12px
                width: 12px
    &.green
        background-color: $green
        span
            background-color: $green-outer
            &:after
                background-color: $green-outer


.contact
    padding: 50px 0 0 0
    border-top: 10px solid #42849C
    border-bottom: 10px solid #42849C
    .title
        text-align: center
        font-family: "PT Sans"
        font-weight: bold
        font-size: 30px
        line-height: 39px
        color: #4C869D
    form
        margin: 60px 0
        input
            width: 40%
            background: #FFFFFF
            box-shadow: 0 0 8px rgba(66, 132, 156, 0.3)
            border-radius: 10px
            padding: 12px 0 12px 18px
            &::placeholder
                font-family: "PT Sans"
                font-weight: bold
                font-size: 20px
                line-height: 26px
                color: #707070
        button
            background: linear-gradient(90deg, #5A9D8C 9%, #4C869D 86%)
            box-shadow: 0 0 8px rgba(66, 132, 156, 0.3)
            border-radius: 50px
            padding: 17px 80px
            margin-top: 60px
            color: white
            font-size: 20px
            font-family: "PT Sans"
.performance
    padding: 110px 0 29px 0
    background-image: url("../img/performance-bg.png")
    background-position: center
    background-size: 100% 100%
    h3
        color: white
        font-size: 30px
        line-height: 39px
        font-weight: bold
        font-family: "PT Sans"
    p
        color: white
        font-size: 20px
        line-height: 26px
        font-family: "PT Sans"
        margin-top: 32px
.overview
    padding: 60px 0
    h3
        font-family: "PT Sans"
        font-size: 30px
        line-height: 39px
        color: #4C869D
        font-weight: bold
        text-align: center
        margin-bottom: 40px
    p
        text-align: center
        color: #707070
        font-size: 20px
        line-height: 26px
        font-family: "PT Sans"
        transform: translateY(-30px)
        z-index: 1111
.swiper-container
    width: 100%
    height: 700px
    transition: opacity 0.6s ease
    &.swiper-container-coverflow
        padding-top: 2%
    &.loading
        opacity: 0
        visibility: hidden
    &:hover
        .swiper-button-prev, .swiper-button-next
            transform: translateX(0)
            opacity: 1
            visibility: visible
.swiper-slide
    background-position: center
    background-size: 100% 100%
    .entity-img
        display: none
[class^="swiper-button-"]
    width: 44px
    opacity: 0
    visibility: hidden
.swiper-button-prev
    transform: translateX(50px)
.swiper-button-next
    transform: translateX(-50px)

@media (max-width: 1023px)
    .swiper-container
        height: 300px
        &.swiper-container-coverflow
            padding-top: 0


footer
    padding: 50px 0 24px 0
    h4
        font-size: 24px
        font-weight: normal
        line-height: 31px
        color: #707070
        margin: 24px 0 26px 0
    h5
        font-family: "PT Sans"
        font-weight: bold
        font-size: 30px
        line-height: 39px
        color: #4C869D
        margin-bottom: 20px
    p, a
        color: #707070
        font-size: 20px
        line-height: 26px
        font-family: "PT Sans"
        margin: 7.5px 0
    a:hover
        text-decoration: none
        color: royalblue
@import "media" // Always at the end
